@page "/wizard"
@using System.Net.Http
@using System.Threading.Tasks
@using TFTWizardWasm.Service

@inject RiotService riotService;

<h1>Wizard</h1>
<span>@apiKey</span>

@code {
    // DEV API KEY: RGAPI-b074895b-528c-45c0-9b8d-f8615461ebaa
    // Expires: Sat, May 4th, 2024 @ 5:06am
    // Transitions / Game states
    // 1. Start
    // 1.1 Select Encounter / No Encounter
    // 1.2 Select start component
    // 2. Loop
    // 2.1 Continuesly select champions bought/got
    // 2.2 Continuesly select augments got
    // 2.3 Continuesly select items got
    // 2.4 Continuesly select components got
    // 2.5 Continuesly select encounters got

    // Entities:
    // Champion
    // Component
    // Item of type Artifact, Support, Kayle, Inkshadow, Consumable, Emblem, Radiant
    // Encounter
    // Augment
    // Trait

    private string apiKey;

    protected override async Task OnInitializedAsync()
    {
        apiKey = riotService.GetApiKey();
    }
}
