@page "/wizard"
@using System.Net.Http
@using System.Threading.Tasks
@using TFTWizardWasm.Model
@using TFTWizardWasm.Service

@inject RiotService RiotService;
@inject AugmentService AugmentService;

<h1>Wizard</h1>

<h2>Realm</h2>
@if (realm != null)
{
    <span>@realm.Cdn</span>
}

<h2>Augments</h2>
@foreach (var augment in augments.Take(10))
{
    <span>@augment.Name</span>
    <img src="@augment.ImageCdnPath" />
}

@code {
    private RealmData realm = null;
    private List<AugmentData> augments = [];

    protected override async void OnInitialized()
    {
        augments = await AugmentService.GetOrLoadItems();
        realm = await AugmentService.GetOrLoadRealm();
        StateHasChanged();
    }
}
